<header class="site-header">
<!--   <a class="site-title" href="{{ site.baseurl }}/"><img src="/assets/img/cover.png"></a>-->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131394635-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-131394635-1');
  </script>

  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">home</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/machine">interactives</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/manifesto">manifesto</a></li>
      <!-- <li class="nav-item"><a href="{{ site.baseurl }}/thoughts">thoughts</a></li> -->
      <li class="nav-item"><a href="{{ site.baseurl }}/about">about</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/resume.pdf" download>resume/中文</a></li>
    </ul>
  </nav>

</header>
